@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Luckiest Guy', cursive;
	
}

body {
	background-image: url(https://media.giphy.com/media/5WJ0EAzwI6oMwqcRFy/giphy.gif);
	padding: 100px;
	margin: 100px;
	background-repeat: no-repeat center  fixed ;
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
}

#mypic {
	width: 200;
	border-radius: 150px;
}



.landing .profile  h1{
	color: white;
}


.landing .profile  h2{
	color: black;
}


.profile .greeting {
			color:  blue;
			text-align: center;
			letter-spacing: 3px;
			text-shadow: 2px 2px 5px red;
			padding: 100px;
			padding-left: flex;
			font-size: 12vw;
			padding-top: 0px;
			padding-bottom: 0;
			box-sizing: border-box;
			display: auto;

}

 .profile .description > p {
	color: black;
	font-size: 150% ;
	text-align: center;
	padding-bottom: 100px;

}

body .skills {
	text-align: center;
	padding: 100px;
}

body .skills > a button	{
	display: block;
	float: inline-block;
	margin: auto;
	width: 250px;
	
	

}



footer {
  
    background-color: greenyellow;
}

footer .container {
	text-align: center;
}


